
<div style="padding-top: 120px;"></div>
<div class="jumbotron" style="text-align: center;">
  <h1>Welcome to API Test Service</h1>
  <p>We are Offer two Service for API Test Please select your relevant</p>
  <p><a class="btn btn-primary btn-lg" href="/rest/index" role="button">Rest API Test</a> <a class="btn btn-primary btn-lg" href="/soap/index" role="button">SOAP API Test</a></p>
</div>

<style>
    body {
        padding-top: 0px;
    }
</style>