
<div style="padding-top: 20px;"></div>
<div class="jumbotron" style="text-align: center;">
  <h1>Thanks for Donate</h1>
  <p>Please Donate and Help us to improve our services</p>
  <p>
    <a class="btn btn-primary btn-lg" href="/rest/index" role="button">Donate With Paypal</a>
    <a class="btn btn-primary btn-lg" href="/soap/index" role="button">Donate with Stripe</a>
  </p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick"/>
    <input type="hidden" name="business" value="jayeshdalwadi2007@gmail.com"/>
    <input type="hidden" name="item_name" value="Improvement Fund"/>
    <input type="hidden" name="item_number" value="2014"/>
    <input type="hidden" name="amount" value="50.00"/>
    <input type="hidden" name="no_shipping" value="2"/>
    <input type="hidden" name="no_note" value="1"/>
    <input type="hidden" name="currency_code" value="USD"/>
    <input type="hidden" name="tax" value="0"/>
    <input type="hidden" name="bn" value="PP-DonationsBF"/>
    <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-but21.gif"
           border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!"/>
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
  </form>
</div>

<style>
    body {
        padding-top: 50px;
    }
</style>