
<div style="padding-top: 120px;"></div>


<div class="container">
<div class="row">
  <div class="pull-right" style="padding: 10px;">
    <a class="btn btn-success" href="/services/index" id="">
      Back to services
    </a>
  </div>

</div>
<div class="well row">
<form class="form" role="form" id="restformExecuter" method="post">
  <div class="well col-sm-12" style="padding-bottom: 0;margin-right:0px;margin-left: 0px;">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="form-group col-sm-2">
        <div class="btn-group" style="float:left;margin-right: 5px;">
          <a class="btn" id="tabs-1-form-method" href="javascript:void(0);" style="font-weight: normal;">GET</a>
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0);" onclick="$('#tabs-1-form-method').text('GET');$('#tabs-1-form-hidden-method').val('get');return false;">GET</a></li>
            <li><a href="javascript:void(0);" onclick="$('#tabs-1-form-method').text('POST');$('#tabs-1-form-hidden-method').val('post');return false;">POST</a></li>
            <li><a href="javascript:void(0);" onclick="$('#tabs-1-form-method').text('PUT');$('#tabs-1-form-hidden-method').val('put');return false;">PUT</a></li>
          </ul>
        </div>
      </div>

    <div class="form-group col-sm-8">
      <input type="text" name="wsdl"class="form-control" placeholder="Type in a url and press enter...">
      <input type="hidden" name="method" value="get" id="tabs-1-form-hidden-method">
    </div>


      <div class="form-group col-sm-2">
        <a class="btn btn-primary" onclick="javascript: void(0);" id="execute_id">
          <i class="icon-ok-circle icon-white"></i>Execute
        </a>
      </div>
    </div>
   <div class="col-lg-12">
     <div class="form-group col-sm-2">
     Method Name
     </div>
     <div class="form-group col-sm-8">
       <input type="text" name="method" class="form-control" placeholder="Enter your Method Name...">
     </div>
     <div class="form-group col-sm-2">

     </div>
   </div>
    <div class="">
      <ul class="nav nav-pills" style="margin-bottom: 0;">
        <li><a href="javascript: void(0);" class="add-param" id="add_query_param" ><i class="icon-plus-sign icon-dark"></i> Add Query Param</a></li>
        <li><a href="javascript: void(0);" class="post-body" id="set_post_body" ><i class="icon-edit icon-dark"></i> Set POST Body</a></li>
        <li><a href="javascript: void(0);" class="add-header" id="add_header" ><i class="icon-plus-sign icon-dark"></i> Add Header</a></li>
        <li><a href="javascript: void(0);" class="toggle-auth" id="enable_http_basic_auth" ><i class="icon-off icon-dark"></i> Enable HTTP Basic Auth</a></li>
      </ul>
    </div>

<div class="row">
<div class="well col-sm-12 query-params-section" style="" id="add_query_param_body">
  <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
    <h3 style="display:inline-block;">Query Parameters</h3>
    <div class="pull-right">
      <a class="btn-mini add-param" href="javascript:void(0);"><i class="icon-plus-sign icon-dark"></i> Add a param</a>               <a class="btn-mini post-body" href="javascript: void(0);"><i class="icon-edit icon-dark"></i> Set POST Body</a>             </div>
  </div>

    <div class="col-sm-12 query-params-rows" style="display: none;">
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="span5 request-header-names" name="params[3034].name" tag="params-3034-name">
          <input type="text" class="span6 request-header-values" name="params[3034].value" tag="params-3034-value">
          <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="span5 request-header-names" name="params[5315].name" tag="params-5315-name">
          <input type="text" class="span6 request-header-values" name="params[5315].value" tag="params-5315-value">
          <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <input type="text" class="col-sm-5 request-header-names" name="params[9135].name" tag="params-9135-name">
          <input type="text" class="col-sm-6 request-header-values" name="params[9135].value" tag="params-9135-value">
          <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12 query-params-post-body" style="display: block;">
      <textarea rows="3" class="col-sm-12" name="body_message"></textarea>
    </div>
  </div>
  </div>

</div>
<div class="row">
  <div class="well col-sm-12 query-params-section" style="" id="set_post_body1">
    <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
      <h3 style="display:inline-block;">Query Parameters</h3>
      <div class="pull-right">
        <a class="btn-mini add-param" href="javascript:void(0);"><i class="icon-plus-sign icon-dark"></i> Add a param</a>
        <a class="btn-mini post-body" href="javascript: void(0);"><i class="icon-edit icon-dark"></i> Set POST Body</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 query-params-rows" style="display: block;">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" class="col-sm-5 request-header-names" name="params[3034].name" tag="params-3034-name">
            <input type="text" class="col-sm-6 request-header-values" name="params[3034].value" tag="params-3034-value">
            <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input type="text" class="col-sm-5 request-header-names" name="params[5315].name" tag="params-5315-name">
            <input type="text" class="col-sm-6 request-header-values" name="params[5315].value" tag="params-5315-value">
            <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input type="text" class="col-sm-5 request-header-names" name="params[9135].name" tag="params-9135-name">
            <input type="text" class="col-sm-6 request-header-values" name="params[9135].value" tag="params-9135-value">
            <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 query-params-post-body" style="display: none;">
        <textarea rows="3" class="col-sm-12" name="body"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="well col-sm-12 headers-section" style="" id="add_header_body">
    <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
      <h3 style="display:inline-block;">Headers</h3>
      <div class="pull-right">
        <a class="btn-mini add-header" href="javascript:void(0);"><i class="icon-plus-sign icon-dark"></i> Add a header</a>             </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="span5 request-header-names" name="headers[7746].name" tag="headers-7746-name">
        <input type="text" class="span6 request-header-values" name="headers[7746].value" tag="headers-7746-value">
        <a class="btn-mini delete-row" href="#"><i class="icon-remove icon-dark"></i> Remove</a>     </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="well col-sm-12 auth-params" style="" id="enable_http_basic_auth_body">
    <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
      <h3 style="display:inline-block;">Enable HTTP Basic Auth</h3>
      <div class="pull-right">
        <a class="btn-mini" href="#"><i class="icon-off icon-dark"></i> Turn Off</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <input type="text" class="span5" name="auth.name">
        <input type="password" class="span6" name="auth.password">
      </div>
    </div>
  </div>
</div>
</form>
</div>
<div class="row">
  <div class="well span12">
    <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
      <h4>
        <span class="badge badge-success"><big>200</big></span>&nbsp; 200 OK
        <i class="icon-time icon-dark"></i> <small>30ms</small>
        <div class="pull-right btn-toolbar" style="margin-top: 0px">
          <div class="btn-group">
            <a class="btn-mini back-to-request" tabid="#tabs-1" href="javascript: void(0);"><i class="icon-edit"></i> Edit</a>               <a class="btn-mini execute-again" tabid="#tabs-1" href="javascript: void(0);"><i class="icon-repeat"></i> Execute Again</a>               <a class="btn-mini clone" tabid="#tabs-1" href="javascript: void(0);"><i class="icon-plus"></i> Clone Tab</a>               <a class="btn-mini" tabid="#tabs-1" data-toggle="modal" href="#tabs-1-permalink"><i class="icon-share"></i> Share</a>               <!--<a _tmplitem="2"  class="btn-mini" tabId="#tabs-1" href="javascript: void(0);"><i _tmplitem="2"  class="icon-bookmark"></i> Bookmark</a>-->               <a class="btn-mini traceroute" tabid="#tabs-1" data-toggle="modal" href="#tabs-1-traceroute"><i class="icon-random"></i> Traceroute</a>               <!--<a _tmplitem="2"  class="btn-mini" style="color:#f00;" tabId="#tabs-1" href="javascript: void(0);"><i _tmplitem="2"  class="icon-heart"></i> Monitor</a>-->
          </div>
        </div>
        <div style="padding-top: 10px">http://54.88.93.217:3000/</div>
      </h4>
    </div>
    <div class="row">
      <div class="span12">
        <div class="btn-toolbar" style="margin-top: 0px">
          <div class="btn-group">
            <a class="btn-mini hide-section" sectionid="request-headers-section" tabid="#tabs-1" href="javascript: void(0);">
              <i class="icon-eye-open"></i> Request Headers</a>
            <a class="btn-mini hide-section" sectionid="request-parameters-section" tabid="#tabs-1" href="javascript: void(0);" style="display: none;">
              <i class="icon-eye-open"></i> Request Parameters</a>
            <a class="btn-mini hide-section" sectionid="response-headers-section" tabid="#tabs-1" href="javascript: void(0);">
              <i class="icon-eye-open"></i> Response Headers</a>
            <a class="btn-mini hide-section" sectionid="response-output-section" tabid="#tabs-1" href="javascript: void(0);">
              <i class="icon-eye-open"></i> Response</a>   </div>
        </div>
      </div>
    </div>
    <div class="row request-headers-section">
      <div class="col-sm-12">
        <span class="label label-info pull-right">Request Headers</span>
        <pre id="request-headers-output" class="col-sm-12">
          <%  if !@request_header.nil? &&  !@request_header.blank?%>
              <% @request_header.each do |key, value| %>
               <li> <%= "#{key}: #{value}" %>
              <% end %>

          <%  end %>
        </pre>
      </div>
    </div>
    <div class="row request-parameters-section">
      <div class="col-sm-12">
        <span class="label label-info pull-right">Request Parameters</span>
        <pre id="request-parameters-output" class="col-sm-12">
          <%  if !@params_request.nil? &&  !@params_request.blank?%>
             <%= @params_request %>
          <%  end %>
        </pre>
      </div>
    </div>
    <div class="row response-headers-section">
      <div class="col-sm-12">
        <span class="label label-info pull-right">Response Headers</span>
        <pre id="response-headers-output" class="col-sm-12">
          <%  if !@responseObject.nil? &&  !@responseObject.blank?%>
                <%= @doc.to_xml(:indent => 2) %>
          <%  end %>
        </pre>
      </div>
    </div>
    <div class="row response-output-section">
      <div class="col-sm-12">
        <span class="label label-info pull-right">Response Content</span>
        <pre id="response-output" class="col-sm-12">
           <%  if !@responseObject.nil? &&  !@responseObject.blank?%>
                <%= @responseObject %>
          <%  end %>
        </pre>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">



    $('#add_query_param_body').hide();
    $('#set_post_body1').hide();
    $('#add_header_body').hide();
    $('#enable_http_basic_auth_body').hide();

    $('#add_query_param').click(function(){
        $('#add_query_param_body').show();
    });
    $('#set_post_body').click(function(){
        $('#set_post_body1').show();
    });
    $('#add_header').click(function(){
        $('#add_header_body').show();
    });
    $('#enable_http_basic_auth').click(function(){
        $('#enable_http_basic_auth_body').show();
    });

    $('#execute_id').click(function(){
        var url = $('#executeUrl').val();
        var method = $('#tabs-1-form-method').text();
        var obj = {"url": url,"method":method};
        $('#restformExecuter').attr("action", "/soap/request_process");
        $('#restformExecuter').submit();
//        $.ajax({
//            type: "post",
//            url: "/rest/request_process",
//            data: ,
//            success: function(){
//
//            },
//            dataType: 'json'
//        });
        console.log(url);
        console.log(method);
    });

</script>