<style>
    .omb_login{
        padding-top:100px !important;
    }
    .form-control { margin-bottom: 10px;
        width:100% !important;
    }
    .omb_login .omb_authTitle {
        text-align: center;
        line-height: 300%;
    }
    .omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
    .omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
    .omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}
    .omb_login .omb_socialButtons a {
        color: white; // In yourUse @body-bg
    opacity:0.9;
    }
    .omb_login .omb_socialButtons a:hover {
        color: white;
        opacity:1;
    }

</style>
<div class="container omb_login">
    <h3 class="omb_authTitle"> <%= link_to "Log in", new_session_path(resource_name) %> or <%= link_to "Sign up", new_registration_path(resource_name) %></a></h3>
  <div class="row ">
    <div class="col-md-offset-3 col-xs-12 col-sm-12 col-md-6 well-sm">


        <%= form_for(resource, as: resource_name, url: registration_path(resource_name),:html=>{:class=>"form"}) do |f| %>
        <div class="row">
          <%= devise_error_messages! %>
          <div class="col-xs-6 col-md-6">
            <input class="form-control" name="firstname" placeholder="First Name" type="text"
                   required autofocus />
          </div>
          <div class="col-xs-6 col-md-6">
            <input class="form-control" name="lastname" placeholder="Last Name" type="text" required />
          </div>
        </div>
          <%= f.email_field :email, autofocus: true ,:placeholder=>"Enter Email" ,:class=>"form-control"%>
          <%= f.password_field :password, autocomplete: "off" ,:class=>"form-control",:placeholder =>"password"  %>
          <% if @validatable %>

          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "off",:class=>"form-control", :placeholder =>"password confirm" %>
        <label for="">
          Birth Date</label>
        <div class="row">
          <div class="col-xs-4 col-md-4">
            <select class="form-control">
              <option value="Month">Month</option>
            </select>
          </div>
          <div class="col-xs-4 col-md-4">
            <select class="form-control">
              <option value="Day">Day</option>
            </select>
          </div>
          <div class="col-xs-4 col-md-4">
            <select class="form-control">
              <option value="Year">Year</option>
            </select>
          </div>
        </div>
        <div style="text-align: center">
          <label class="radio-inline">
            <input type="radio" name="sex" id="inlineCheckbox1" value="male" />
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="sex" id="inlineCheckbox2" value="female" />
            Female
          </label>
        </div>
          <%= f.submit "Sign up" ,:class=> "btn btn-lg btn-success btn-block"%>

      <% end %>


    </div>
    </div>
  <hr>
  <div class="col-md-offset-3 col-md-6 omb_socialButtons">
    <div class="col-xs-4 col-sm-4">
      <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
        <i class="fa fa-facebook visible-xs"></i>
        <span class="hidden-xs">Facebook</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-4">
      <a href="/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter">
        <i class="fa fa-twitter visible-xs"></i>
        <span class="hidden-xs">Twitter</span>
      </a>
    </div>
    <div class="col-xs-4 col-sm-4">
      <a href="/auth/google_oauth2" class="btn btn-lg btn-block omb_btn-google">
        <i class="fa fa-google-plus visible-xs"></i>
        <span class="hidden-xs">Google+</span>
      </a>
    </div>
  </div>
</div>
<div style="padding: 50px;"></div>
