<p>
  The details and contact information of the user who entered the feedback
</p>
<p>
  Name : <%= @name %>
</p>
<p>
  Email : <%= @email %>

</p>
<p>
  Path : <%= @path %>
</p>
<p>
  FeedBack
</p>
<p>
<%= @feedback %>
</p>
