<div class="footer">
  <div class="container">
    <!-- Footer Content -->
    <div class="footer-content">
      <!-- Heading -->
      <h2>Jakers</h2>
      <!-- Social Media -->
      <div class="social">
        <a href="#" class="social-tooltip" data-placement="top" data-original-title="facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-tooltip" data-placement="top" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-tooltip" data-placement="top" data-original-title="google plus"><i class="fa fa-google-plus"></i></a>
        <a href="#" class="social-tooltip" data-placement="top" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
      </div>
      <!-- Paragraph -->
      <p>&copy; Copyright 2014, <a href="#">Jakers</a></p>
    </div>
  </div>
</div>