<style>
    .navbar-default .nav .dropdown-menu {
        left: -30px;
        border-radius: 1px 1px 1px 1px !important;
        border: 1px solid #000000;
    }
    body{
        padding-top: 0px;;
    }
    #new_feedback_btn {
        height: 123px;
        width: 122px;
        position: fixed;
        top: 40%;
        right: -86px;
        z-index: 999;
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    #new_feedback_btn a {
        display: block;
        background: #207fb1;
        height: 35px;
        width: 106px;
        padding: 6px 17px;
        color: #fff;
        font-family: "PT Sans",sans-serif !important;
        font-size: 17px;
        font-weight: bold;
        text-decoration: none;
        border-bottom: solid 1px #333;
        border-left: solid 1px #333;
        border-right: solid 1px #fff;
    }
</style>

<script type="text/javascript">
    $(function(){
    $("#btnSaveFeedback").click(function(){

        var name = $("#feedback_name").val();
        var email = $("#feedback_email").val();
        var desc = $("#feedback_desc").val();
        var path = window.location.href;

        if(name!="" && email!="" && desc!=""){
            var feedback = {
                name:name,
                email:email,
                desc:desc,
                path:path
            }
            $.ajax({
                type: "POST",
                url : "/home/sendFeedBack",
                cache: false,
                data: feedback,
                success: function(data) {
                    if(data.data==true){
                        $("#feedback_close").click();
                        alert("Feedback Send Successfully.");
                    }else {
                        alert("Try Again.");
                    }
                    return false;
                },
                error: function(xhr){  alert("The error code is: "+xhr.statusText);}
            });
        }else {
            alert("All fields are required.");
            return false;
        }
    });

    });
</script>
<div class="modal fade" id="feed_back" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" style="padding-top: 120px;">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal" id="feedback_close">
          <span aria-hidden="true">x</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" style="color:black;">Feedback</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="frm_feedback" role="form">
          <div class="form-group">
            <label class="col-sm-3" style="color:black;">Name*</label>
            <div class="col-sm-8">
              <input class="form-control" id="feedback_name" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3" style="color:black;">Email*</label>
            <div class="col-sm-8">
              <input class="form-control" id="feedback_email" type="text">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3">Description*</label>
            <div class="col-sm-8">
              <textarea class="form-control" id="feedback_desc" rows="10"></textarea>
            </div>
          </div>
          <div style="clear:both;height:10px;"></div>
        </form>
      </div>
      <div class="modal-footer" srtyle="clear:both;">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="btnSaveFeedback">Submit</button>
      </div>
    </div>
  </div>
</div>
<div id="new_feedback_btn">
  <a href="#" >
    <b>Feedback</b>
  </a>
</div>
<div class="header">
  <!-- Header Info  -->
  <div class="header-info">
    <div class="container">
      <!-- Info Left -->
      <div class="info-left pull-left">
        <!-- Contact Number -->
        <span><i class="fa fa-phone"></i> +91 992-448-2015</span>
        <!-- Email / Website -->
        <span><i class="fa fa-envelope"></i> <a href="#">support@jakersdeveloper.com</a></span>
      </div>
      <!-- Info Right -->
      <div class="info-right pull-right">
        <!-- Social Media -->
        <div class="social">
          <a href="#" class="social-tooltip" data-placement="bottom" data-original-title="faceook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="social-tooltip" data-placement="bottom" data-original-title="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="social-tooltip" data-placement="bottom" data-original-title="google plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="social-tooltip" data-placement="bottom" data-original-title="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Nav Bar -->
  <nav class="navbar navbar-default" role="navigation" style="margin-top:0px;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand scroll-link" data-to="#home" href="javascript:window.location.href='/'" style="padding: 0px;">  <%=image_tag src="jakers_286x75.png",:width =>220,:height => 60 %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="scroll-link" href="/#feature" data-to="#feature">Features</a></li>
          <li><a class="scroll-link" href="/#service" data-to="#service">Services</a></li>
          <li><a class="scroll-link" href="/#pricing" data-to="#pricing">Pricing</a></li>
          <li><a class="scroll-link" href="/#about" data-to="#about">About</a></li>
          <li><a class="scroll-link" href="/#contact" data-to="#contact">Contact</a></li>
          <li><a class="scroll-link" href="/donate/index" data-to="#">Donate</a></li>
          <li class="dropdown">
            <%if user_signed_in?%>

              <a href="/user/sign_in" data-toggle="dropdown" class="dropdown-toggle">Welcome.. <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" style="width: 345px;left: -175px">
             <%else%>
                <a href="/user/sign_in" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" >
            <%end%>
              <%if user_signed_in?%>
                  <div class="">
                    <li class="divider"></li>
                    <div class="navbar-content">
                      <div class="row">
                        <div class="col-md-4">
                          <img src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="Alternate Text" class="img-responsive" />
                          <p class="text-center small"></p></div><div class="col-md-8">
                        <span><%= current_user.email%></span><p class="text-muted small">''</p>
                        <div class="divider"></div><a href="userDetail.htm?id='+user.objId+'" class="btn btn-primary btn-sm active">View Profile</a>
                      </div>
                      </div>
                    </div>
                    <div class="navbar-footer">
                      <div class="navbar-footer-content">
                        <div class="row">
                          <div class="col-md-6"><a href="#" class="btn btn-default btn-sm">Change Passowrd</a></div><div class="col-md-6">
                          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete,:class=>"btn btn-default btn-sm pull-right"%></div>
                        </div>
                      </div>
                    </div>
                  </div>
              <%else%>
                  <li><a href="/users/sign_in">sign in</a></li>
              <%end%>
            </ul>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->

    </div>
  </nav>
</div>
