
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Title here -->
  <title>Rest Test</title>
  <!-- Description, Keywords and Author -->
  <meta name="description" content="rest soap api">
  <meta name="keywords" content="rest,soap,api">
  <meta name="author" content="jayesh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon/favicon.png">
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

</head>

<body id="home">

<!-- Loading Screen -->
<div class="loading-screen">
  <h2>jakers</h2>
</div>

<!-- Wrapper Start -->
<div class="wrapper">



<!--
#################################
    - Slider BANNER -
#################################
-->

<div class="banner-slider  background_web parallax-slider">
  <div class="container">
    <!-- Banner Icons -->

    <div class="bx-wrapper">
      <ul class="bxslider1">
        <li>Connecting</li>
        <li>TO</li>
        <li>API development</li>
      </ul>
    </div>
    <!-- button -->
    <div class="slider-btn">
      <a href="javascript:void(0);"  data-to="#pricing" class="scroll-link btn-transparent" style="width: 150px;">Purchase Plan</a>
      <a href="/services/index" class="btn-transparent" style="width: 150px;">&nbsp;&nbsp;&nbsp;Free Trial&nbsp;&nbsp;&nbsp;</a>
    </div>
  </div>
</div>

<!-- Slider End -->

<!-- Hero Start -->

<div class="hero animated">
  <div class="container">
    <!-- Heading -->
    <h1>Introducing The <strong>Test Ok</strong><br>API Testing tool for Fast integration</h1>
    <!-- logo image -->
    <div class="">Test Ok</div>
    <!-- Paragraph -->
    <p>This tools support both type of services Rest and SOAP Over JSON and XML data</p>
  </div>
</div>

<!-- Hero End -->

<!-- Promo Start -->

<div class="promo parallax-one">
  <div class="container">
    <div class="promo-inner animated delay-one">
      <!-- Paragraph -->
      <p>Best tools for <span>Services Developer and integrator</span> who like to test and validate Their API.</p>
    </div>
  </div>
</div>

<!-- Promo End -->

<!-- feature Start -->

<div id="feature" class="feature padd">
  <div class="container">
    <div class="default-header">
      <h3>features</h3>
      <span class="header-icon"><i class="fa fa-laptop"></i></span>
      <div class="col-md-6" style="text-align: left">
      <li>Construct and execute HTTP requests</li>
      <li>Make requests other than GET, like POST, PUT, and DELETE</li>
      <li>Define HTTP headers in the request</li>
      <li>See the response, possibly formatted for easier reading</li>
      <li>Show available API options (parameters, URL paths, endpoints, formats, etc)</li>
      </div>
    </div>
    <span class="clearfix"></span>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="feature-item animated delay-one">
          <!-- Icon -->
          <a href="#"><i class="fa fa-desktop"></i></a>
          <!-- feature Title -->
          <h4><a href="#">Service Analysis</a></h4>
          <!-- Paragraph -->
          <p>you can Analyze your service request and response.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature-item animated delay-two">
          <!-- Icon -->
          <a href="#"><i class="fa fa-refresh"></i></a>
          <!-- feature Title -->
          <h4><a href="#">Network Analysis</a></h4>
          <!-- Paragraph -->
          <p>you can see request and response time.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature-item animated delay-three">
          <!-- Icon -->
          <a href="#"><i class="fa fa-thumbs-up"></i></a>
          <!-- feature Title -->
          <h4><a href="#">Development INC</a></h4>
          <!-- Paragraph -->
          <p>help you in make fast development of you servers not need to wait for intigration.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature-item animated delay-four">
          <!-- Icon -->
          <a href="#"><i class="fa fa-code"></i></a>
          <!-- feature Title -->
          <h4><a href="#">Coder Value</a></h4>
          <!-- Paragraph -->
          <p>You can validate you code and its become valuable before submit to others.</p>
        </div>
      </div>
    </div>
    <div class="feature-nav">
      <div class="row">
        <div class="col-md-5">
          <!-- Nab Bar Tan Menu list -->
          <ul id="mytab" class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-rocket"></i></a></li>
            <li><a href="#two" data-toggle="tab"><i class="fa fa-road"></i></a></li>
            <li><a href="#three" data-toggle="tab"><i class="fa fa-suitcase"></i></a></li>
            <li><a href="#four" data-toggle="tab"><i class="fa fa-gift"></i></a></li>
          </ul>
          <!-- Content for each menu item -->
          <div class="tab-content">
            <!-- First Content for Nav bar -->
            <div class="tab-pane fade in active" id="one">
              <!-- Heading -->
              <h5><i class="fa fa-rocket"></i>Production Launch(Deployment)</h5>
              <!-- Paragraph -->
              <p> We have good support team for manage and deploy application.We are provide 99 % up time ay continues monitoring  server and resource </p>
            </div>
            <!-- Second Content for Nav bar -->
            <div class="tab-pane fade" id="two">
              <!-- Heading -->
              <h5><i class="fa fa-road"></i>Development Path</h5>
              <!-- Paragraph -->
              <p>....</p>
            </div>
            <!-- Third Content for Nav bar -->
            <div class="tab-pane fade" id="three">
              <!-- Heading -->
              <h5><i class="fa fa-briefcase"></i> Product development</h5>
              <!-- Paragraph -->
              <p>....</p>
            </div>
            <div class="tab-pane fade" id="four">
              <!-- Heading -->
              <h5><i class="fa fa-gift"></i> Gift To Customer</h5>
              <!-- Paragraph -->
              <p>We are provide true gide line to the customer for grow their business fast.</p>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <!-- Image -->
          <!--<img src="img/feature.png" class="img-responsive" alt="" />-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- feature End -->

<!-- Promo Start -->

<div class="promo parallax-one">
  <div class="container">
    <div class="promo-inner animated delay-one">
      <!-- Heading -->
      <h2>We Also be part of other Services <span> and help in Grow Your Business</span> .</h2>
    </div>
  </div>
</div>

<!-- Promo End -->

<!-- Service Start -->

<div id="service" class="service padd">
  <div class="container">
    <div class="default-header">
      <!-- Heading -->
      <h3>Services</h3>
      <!-- border design -->
      <span class="header-icon"><i class="fa fa-gears"></i></span>
      <!-- Paragraph -->

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-bolt"></i>
            <!-- Service Title -->
            <span class="service-title">Support and maintenance</span>
          </a>
          <!-- Paragraph -->
          <p>We are doing consulting services for maintain old application and help to design application from scratch</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-gear"></i>
            <!-- Service Title -->
            <span class="service-title">Customization</span>
          </a>
          <!-- Paragraph -->
          <p>We are dong customization of open source project based on client requirement</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-cloud"></i>
            <!-- Service Title -->
            <span class="service-title">Cloud Services</span>
          </a>
          <!-- Paragraph -->
          <p>We are providing Cloud Services support for manage deployment over dedicated and shared hosted server. hands on with Amazon EC2,Heroku and Rakespace.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-filter"></i>
            <!-- Service Title -->
            <span class="service-title">Improvement</span>
          </a>
          <!-- Paragraph -->
          <p>We are helping in optimize performance of the existing application and working on improvement of response time.production server configuration for support concurrent users</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-pencil-square-o"></i>
            <!-- Service Title -->
            <span class="service-title">Re-design</span>
          </a>
          <!-- Paragraph -->
          <p>We are helping in re-design application and upgrading application to support latest version.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Service Item -->
        <div class="service-item animated">
          <a href="#">
            <!-- Icon -->
            <i class="fa fa-shield"></i>
            <!-- Service Title -->
            <span class="service-title">Security Support</span>
          </a>
          <!-- Paragraph -->
          <p>We are proving security tips and provide HTTPS base secure application.</p>
        </div>
      </div>
    </div>
    <!-- Service Model -->

  </div>
</div>

<!-- Service End -->

<!-- Testimonial Start -->

<div id="testimonial" class="testimonial parallax-one">
  <div class="container">
    <!-- Testimonial Content -->
    <div class="testimonial-content">
      <ul class="bxslider list-unstyled">
        <li>
          <!-- Testimonial Message -->
          <div class="testimonial-message">
            <!-- Icon -->
            <i class="fa fa-quote-right"></i>
            <!-- Paragraph -->
            <p>My Experience of working with this team is excellent and This team help me to in design architecture of application,development and deployment. They are maintain my production application since last 2 year.I feel pleases to work with this technical team.</p>
            <span class="testimonial-user">- Peter wine</span>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>

<!-- Testimonial End -->

<!-- Pricing Start -->

<div id="pricing" class="pricing padd">
  <div class="container">
    <div class="default-header">
      <h3>Pricing</h3>

      <p>Test Your API with Below plan</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-danger">
          <div class="panel-heading"><h3 class="text-center">DEV PLAN</h3></div>
          <div class="panel-body text-center">
            <p class="lead" style="font-size:40px"><strong>$20 / month</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i> premium use</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> save upto 100 Request</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> Share result allowed 20 email/day</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-danger" href="javascript:void(0)">BUY NOW!</a>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading"><h3 class="text-center">PRO PLAN</h3></div>
          <div class="panel-body text-center">
            <p class="lead" style="font-size:40px"><strong>$100 / month</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i> premium use</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> Unlimited request save</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i>  Share result through email and social media</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> 27/7 support</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-danger" href="javascript:void(0)">BUY NOW!</a>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading"><h3 class="text-center">FREE PLAN</h3></div>
          <div class="panel-body text-center">
            <p class="lead" style="font-size:40px"><strong>0 / month</strong></p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-danger"></i> Basic use</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> 20 request save</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> Share result not allowed</li>
            <li class="list-group-item"><i class="icon-ok text-danger"></i> support through email</li>
          </ul>
          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-danger" href="/services/index">Try NOW!</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Pricing End -->

<!-- Promo Start -->

<div class="promo parallax-two">
  <div class="container">
    <div class="promo-inner animated delay-one">
      <!-- heading -->
      <h4>Welcome To Modern Developer team</h4>
      <hr><!-- horizontal line -->
      <!-- Paragraph -->
      <p>We are export in Responsive website, HTML5, CSS3, jQuery,Ajax,jQuery plugins ,Ruby On Rails,J2EE and much more.</p>
    </div>
  </div>
</div>

<!-- Promo End -->


<!-- CTA End -->

<!-- About Start -->

<div id="about" class="about padd">
  <div class="container">
    <div class="default-header">
      <!-- Heading -->
      <h3>About Us</h3>
      <!-- border design -->
      <span class="header-icon"><i class="fa fa-info"></i></span>
      <!-- Paragraph -->

    </div>
    <!-- about skill item -->
    <div class="about-skill animated delay-one">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <!-- about skill left item -->
          <div class="skill-left">
            <!-- heading -->
            <h3>What We Offer?</h3>
            <!-- sub-heading -->
            <h4>We are offer many services.</h4>
            <!-- paragraph -->
            <p>We are improve our self daily by experience</p>
            <p class="quote">Our  focus On best and quality services.</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- about skill right item -->
          <div class="skill-right">
            <!-- heading -->
            <h3>Our Skill Set</h3>
            <span class="skill-title">Ruby On Rails - 85%</span>
            <!-- progress bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 85%;"></div>
            </div>
            <!-- skill title -->
            <span class="skill-title">HTML5 - 60%</span>
            <!-- progress bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;"></div>
            </div>
            <!-- skill title -->
            <span class="skill-title">CSS3 - 75%</span>
            <!-- progress bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
            </div>
            <!-- skill title -->
            <span class="skill-title">JQuery - 80%</span>
            <!-- progress bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 80%;"></div>
            </div>
            <span class="skill-title">J2EE - 70%</span>
            <!-- progress bar -->
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 70%;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- default heading for team -->
    <div class="default-header-2">
      <!-- Heading -->
      <h3>Meet Our Team</h3>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <!-- About Member -->
        <div class="about-member animated">
          <!-- Image -->
          <img src="" class="img-responsive img-circle" alt="" />
          <!-- About Member Details -->
          <div class="about-member-details">
            <!-- Heading -->
            <h4>Jayesh Dalwadi</h4>
            <!-- Member Designation -->
            <span>CEO/CTO Of Company</span>
            <!-- Paragraph -->
            <p>MCA (Master Of Computer Application)</p>
            <!-- Social Links -->
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- About Member -->
        <div class="about-member animated">
          <!-- Image -->
          <img src="" class="img-responsive img-circle" alt="" />
          <!-- About Member Details -->
          <div class="about-member-details">
            <!-- Heading -->
            <h4>Khushbu</h4>
            <!-- Member Designation -->
            <span>CFO Of Company</span>
            <!-- Paragraph -->
            <p>MBA (Master Business Application).</p>
            <!-- Social Links -->
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- About Member -->
        <div class="about-member animated">
          <!-- Image -->
          <img src="" class="img-responsive img-circle" alt="" />
          <!-- About Member Details -->
          <div class="about-member-details">
            <!-- Heading -->
            <h4>Nilesh/Umesh</h4>
            <!-- Member Designation -->
            <span>MD Of Company</span>
            <!-- Paragraph -->
            <p>MBA HRM(Master In Human Resource).</p>
            <!-- Social Links -->
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- About End -->

<!-- counter start -->

<div class="count parallax-two overlay-pattern">
  <div class="container">
    <!-- outer block for count -->
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- count content item -->
        <div class="count-item">
          <!-- icon -->
          <i class="fa fa-coffee"></i>
          <!-- heading -->
          <h3 class="counter" data-from="0" data-to="256" data-speed="5000" data-refresh-interval="50"></h3>
          <hr><!-- horizontal line -->
          <!-- title -->
          <span class="title">Cup Of Coffee with us.</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- count content item -->
        <div class="count-item">
          <!-- icon -->
          <i class="fa fa-sitemap"></i>
          <!-- heading -->
          <h3 class="counter" data-to="302415"></h3>
          <hr><!-- horizontal line -->
          <!-- title -->
          <span class="title">Stay connected.</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- count content item -->
        <div class="count-item">
          <!-- icon -->
          <i class="fa fa-bullhorn"></i>
          <!-- heading -->
          <h3 class="counter" data-to="1220"></h3>
          <hr><!-- horizontal line -->
          <!-- title -->
          <span class="title">Events Managed.</span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- count content item -->
        <div class="count-item">
          <!-- icon -->
          <i class="fa fa-code"></i>
          <!-- heading -->
          <h3 class="counter" data-to="969333"></h3>
          <hr><!-- horizontal line -->
          <!-- title -->
          <span class="title">Line of Code Written.</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- counter end -->

<!-- Sponsor Start -->

<!--<div class="sponsor parallax-two">-->
  <!--<div class="container">-->
    <!--<div class="default-header-2">-->
      <!--&lt;!&ndash; Heading &ndash;&gt;-->
      <!--<h3>Our Sponsors</h3>-->
      <!--&lt;!&ndash; paragraph &ndash;&gt;-->
      <!--<p>There is no one who loves pain itsel fest qui dolorem ipsum quia dolor sit am,<br>who seeks after it.</p>-->
    <!--</div>-->
    <!--&lt;!&ndash; Sponsor Content &ndash;&gt;-->

  <!--</div>-->
<!--</div>-->

<div id="contact" class="contact padd">
  <div class="container">
    <div class="default-header">
      <!-- Heading -->
      <h3>Contact Us</h3>
      <p>We are small team of creative developers in india.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-5">
        <!-- Contact Form -->
        <div class="contact-form">
          <!-- Heading -->
          <h4>Contact Form</h4>
          <form role="form">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Full name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Contact number">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="comment" rows="5" placeholder="Comments"></textarea>
            </div>
            <!-- Button -->
            <button type="submit" class="btn btn-danger">Submit</button>&nbsp;
            <button type="reset" class="btn btn-default">Reset</button>
          </form>
        </div>
      </div>
      <div class="col-md-8 col-sm-7">
        <!-- Contact Map -->
        <div class="contact-map">
          <!-- Gmap -->
          <div id="gmap" class="gmap3"></div>
          <div class="address" style="width: 300px;">
            <!-- contact address -->
            <i class="fa fa-map-marker"></i>
            <p>304 Arpan Complex, <br />
              Nizampura, Baroda 390002,<br />
              Gujarat,India. <br />
            <div class="clearfix"></div>
            <!-- contact number -->
            <i class="fa fa-phone"></i>
            <p>+91 9924482015</p>
            <div class="clearfix"></div>
            <!-- contact email -->
            <i class="fa fa-envelope"></i>
            <p><a href="#">jayesh.dalwadi@jakersdeveloper.org</a></p>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact End -->

<!-- Footer Start -->



<!-- Footer End -->

</div>
<!-- Wrapper End -->


<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-arrow-up"></i></a></span>




<script type="text/javascript">
     //http://premium.indioweb.in/desino/theme/
    // Loading screen
    $(".loading-screen").fadeOut(3);
    $(document).load(function() {
        $(".loading-screen").fadeOut(3);
    });

</script>
</body>
</html>