<style>

    .omb_login{
        padding-top:100px !important;
    }
    @media (min-width: 768px) {
        .omb_row-sm-offset-3 div:first-child[class*="col-"] {
            margin-left: 25%;
        }
    }

    .omb_login .omb_authTitle {
        text-align: center;
        line-height: 300%;
    }

    .omb_login .omb_socialButtons a {
     color: white; // In yourUse @body-bg
     opacity:0.9;
    }
    .omb_login .omb_socialButtons a:hover {
        color: white;
        opacity:1;
    }
    .omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
    .omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
    .omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


    .omb_login .omb_loginOr {
        position: relative;
        font-size: 1.5em;
        color: #aaa;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .omb_login .omb_loginOr .omb_hrOr {
        background-color: #cdcdcd;
        height: 1px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .omb_login .omb_loginOr .omb_spanOr {
        display: block;
        position: absolute;
        left: 50%;
        top: -0.6em;
        margin-left: -1.5em;
        background-color: white;
        width: 3em;
        text-align: center;
    }

    .omb_login .omb_loginForm .input-group.i {
        width: 2em;
    }
    .omb_login .omb_loginForm  .help-block {
        color: red;
    }


    @media (min-width: 768px) {
        .omb_login .omb_forgotPwd {
            text-align: right;
            margin-top:10px;
        }
    }

</style>
<div class="container">

  <div class="omb_login">
    <h3 class="omb_authTitle"><%= link_to "Log in", new_session_path(resource_name) %> or <%= link_to "Sign up", new_registration_path(resource_name) %></a></h3>
    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <!--<span class="help-block">Password error</span>-->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html=>{:class =>"omb_loginForm"}) do |f| %>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <%= f.email_field :email, autofocus: true,:class => 'form-control'%>
          </div>
          <span class="help-block"></span>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
          </div>
          <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-3">
              <label class="checkbox">
                <%= f.check_box :remember_me %>Remember Me
              </label>
            </div>
            <div class="col-xs-12 col-sm-4">
              <p class="omb_forgotPwd">
                <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              </p>
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        <% end %>
        <div class="row omb_row-sm-offset-3 omb_loginOr">
          <div class="col-xs-12 col-sm-6">
            <hr class="omb_hrOr">
          </div>
        </div>
      </div>
    </div>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-4 col-sm-2">
        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
          <i class="fa fa-facebook visible-xs"></i>
          <span class="hidden-xs">Facebook</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="/auth/twitter" class="btn btn-lg btn-block omb_btn-twitter">
          <i class="fa fa-twitter visible-xs"></i>
          <span class="hidden-xs">Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="/auth/google_oauth2" class="btn btn-lg btn-block omb_btn-google">
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs">Google+</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div style="padding: 50px;"></div>


