<%= form_for(@rest_request) do |f| %>
  <% if @rest_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rest_request.errors.count, "error") %> prohibited this rest_request from being saved:</h2>

      <ul>
      <% @rest_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :request_url %><br>
    <%= f.text_field :request_url %>
  </div>
  <div class="field">
    <%= f.label :request_parameters %><br>
    <%= f.text_field :request_parameters %>
  </div>
  <div class="field">
    <%= f.label :response_data %><br>
    <%= f.text_field :response_data %>
  </div>
  <div class="field">
    <%= f.label :response_header %><br>
    <%= f.text_field :response_header %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
