<div style="padding-top: 120px;"></div>
<div class="well col-sm-12">
<h1>Listing</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Request url</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rest_requests.each do |rest_request| %>
      <tr>
        <td><%= rest_request.user %></td>
        <td><%= rest_request.request_url %></td>
        <td><%= rest_request.status %></td>
        <td><%= link_to 'Show', rest_request %></td>
        <td><%= link_to 'Edit', edit_rest_request_path(rest_request) %></td>
        <td><%= link_to 'Destroy', rest_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rest request', new_rest_request_path %>
<div style="padding-top: 120px;"></div>
</div>