<div style="padding-top: 120px;"></div>
<p id="notice"><%= notice %></p>
<div class="col-sm-12">
  <div class="well col-sm-12">
    <div class="page-header" style="padding-bottom: 5px; margin-top:5px;">
      <h4>
        User : <%= User.find(@rest_request.user).email %>
        <br>
        <br>
        <span class="badge badge-success">
        <big><%= @rest_request.status %></big></span>&nbsp; OK
        <i class="icon-time icon-dark"></i> <small>30ms</small>
        <div class="pull-right btn-toolbar" style="margin-top: 0px">
          <div class="btn-group">
            <a class="btn-mini execute-again" tabid="#tabs-1" href="javascript: void(0);">
            <i class="icon-repeat"></i> Execute Again</a>
            <a class="btn-mini clone" tabid="#tabs-1" href="javascript: void(0);">
              <i class="icon-plus"></i>Clone Tab</a>
            <a class="btn-mini" tabid="#tabs-1" data-toggle="modal" href="#tabs-1-permalink">
              <i class="icon-share"></i> Share</a>
            <!--<a _tmplitem="2"  class="btn-mini" tabId="#tabs-1" href="javascript: void(0);"><i _tmplitem="2"  class="icon-bookmark"></i> Bookmark</a>-->
            <a class="btn-mini traceroute" tabid="#tabs-1" data-toggle="modal" href="#tabs-1-traceroute">
              <i class="icon-random"></i> Delete</a>
            <!--<a _tmplitem="2"  class="btn-mini" style="color:#f00;" tabId="#tabs-1" href="javascript: void(0);"><i _tmplitem="2"  class="icon-heart"></i> Monitor</a>-->
          </div>
        </div>
        <div style="padding-top: 10px">
          URI :  <%= @rest_request.request_url %></div>
      </h4>
    </div>

    <div class="row request-headers-section">
      <div class="col-sm-12">
        <span class="label label-info pull-left">Request Headers</span>
        <pre id="request-headers-output" class="col-sm-12">   <%= @rest_request.response_header %>      </pre>
      </div>
    </div>
    <div class="row request-parameters-section">
      <div class="col-sm-12">
        <span class="label label-info pull-left">Request Parameters</span>
        <pre id="request-parameters-output" class="col-sm-12">  <%= @rest_request.request_parameters %>      </pre>
      </div>
    </div>
    <div class="row response-headers-section">
      <div class="col-sm-12">
        <span class="label label-info pull-left">Response Headers</span>
        <pre id="response-headers-output" class="col-sm-12">  <%= @rest_request.response_header %>      </pre>
      </div>
    </div>
    <div class="row response-output-section">
      <div class="col-sm-12">
        <span class="label label-info pull-left">Response Content</span>
        <pre id="response-output" class="col-sm-12">    <%= @rest_request.response_data %>      </pre>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_rest_request_path(@rest_request) %> |
<%= link_to 'Back', rest_requests_path %>
<div style="padding-top: 120px;"></div>