/*
 * Author 	: HIMANSHU GUPTA
 * Email 		: himanshucse2012@gmail.com
 * Website	:	http://www.indioweb.in/portfolio
*/

/* Basic CSS starts */
body{
    padding-top: 100px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    background-image: url('/assets/back1.png');
    background-repeat:repeat;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p{
    margin:0;
    padding:0;
    line-height: 24px;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
}

a:hover,a:active,a:focus {
    outline: 0;
    outline-width: 0 !important;
}

hr{

}

:focus {
    outline:none;
}

::-moz-focus-inner {
    border:0;
}

form input, form input:focus,
form textarea, form textarea:focus{
    border: 1px solid #eaeaea !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    font-size: 13px !important;
}

/* Social CSS */

.social a{
    display:inline-block;
    width:40px;
    height:40px;
    font-size:15px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    color:#fff;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.social a, .social a:hover{
    text-decoration:none;
}

a.btn{
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.1);
}

.btn-transparent {
    padding: 14px 25px;
    background: transparent;
    border: 1px solid #fff !important;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 0 0 0px #fff inset;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}
.btn-transparent:hover {
    box-shadow: 0 0 0 3px #fff inset, 0 2px 3px rgba(0,0,0,0.2);
    color: #fff;
}
.background_web{
    background-image: url('../images/background.jpg');
    background-color: #cccccc;

}
.parallax-one {background: url('/assets/natural.jpg') 50% fixed;background-repeat: no-repeat;background-size: 100%;}
.parallax-two {background: url('/assets/natural.jpg') 50% fixed;background-repeat: no-repeat;background-size: 100%;}

.promo p{
    text-shadow: rgba(0, 0, 0, 1) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}
.promo h2{
    text-shadow: rgba(0, 0, 0, 1) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}
.testimonial{
    text-shadow: rgba(0, 0, 0, 0.5) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}
.bx-wrapper li{
    text-shadow: rgba(0, 0, 0, 0.5) 2px 6px 5px, rgba(255, 255, 255, 0.4) 0px -4px 30px;
}
/* Basic CSS ends */

/* Loading screen */

.loading-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff url('/assets/loading.gif') no-repeat center center;
    z-index: 9999999999 !important;
    background-size: 300px;
}

.loading-screen img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110px;
    margin-top: -55px;
    margin-left: -55px;
}

.loading-screen h2{
    position: absolute;
    top: 60%;
    left: 48%;
    width: 200px;
    text-align: center;
    margin: 0px auto;
    margin-left: -100px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}


/* Default Padding */

.padd{ padding: 115px 0px;}

/* Container Default Heading */

.container .default-header{
    text-align: center;
    margin-bottom: 20px;
}

.container .default-header h3{
    margin: 0;
    font-size: 50px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', Sans-Serif;
}

.container .default-header p{
    font-size: 15px;
    line-height: 25px;
}

.container .default-header span.header-icon{
    display: block;
    margin: 30px auto;
    max-width: 300px;
    height: 5px;
}

.container .default-header span.header-icon i{
    display: inline-block;
    position: relative;
    top: -15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
}

.default-header-2 {
    margin-bottom: 10px;
    text-align: center;
}
.default-header-2 h3 {
    margin: 0;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Header */

.header{
    position: fixed;
    top: 0;
    z-index: 10000000;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0px 0px 5px #ccc;
}
.header.trans{background: rgba(255,255,255,0.9);}
.header-info{
    padding: 6px 0 3px 0px;
    background: #f8f8f8;
}

.header-info .info-left span{
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    line-height: 25px;
    color: #9a9a9a;
}

.header-info .info-left span i{
    display: inline-block;
    position: relative;
    top: -2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right:4px;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    font-size: 11px;
    border-radius: 40px;
}

.header-info .social a{
    margin: 0px;
    margin-left: 2px;
    width: 25px;
    height: 25px;
    line-height: 24px;
    font-size: 12px;
    border-radius: 40px;
}

/* Navigation Menu */

.navbar-default{
    margin: 0px;
    margin-top: 10px;
    background: transparent;
    border-radius: 0px;
    border: 0px;
}

.navbar-header a.navbar-brand{
    font-size:46px;
    line-height: 1px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    height: auto;
    text-transform: uppercase;
}

.navbar-header .navbar-brand img{
    position: relative;
    top: -4px;
    display: inline-block;
    max-width: 45px;
}

.navbar-default .navbar-nav > li > a{
    padding: 25px 10px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav>.dropdown>a:focus,
.navbar-default .nav .open>a, .navbar-default .nav .open>a:hover, .navbar-default .nav .open>a:focus{
    background: transparent;
}

.navbar-default .nav .dropdown-menu{
    left: 10px;
    min-width: 180px;
    padding-top: 3px;
    padding-bottom: 0;
    border: 0;
    border-radius: 0px;
}

.navbar-default .nav .dropdown-menu > li > a{
    padding: 10px 12px;
    font-size: 14px;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-default .navbar-toggle{
    top: 5px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
    background: transparent;
}

/* bootstrap Slider Banner Css */


/* BX-Slider Banner Css */

.banner-slider {
    padding-top: 200px;
    padding-bottom: 130px;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-slider  .banner-icon { text-align: center; }
.banner-slider  .banner-icon .icon-out {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    line-height: 90px;
    text-align: center;
    font-size: 32px;
    padding: 2px;
    border: 4px solid transparent;
    border-radius: 100px;
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    transition: all 0.45s ease;
}
.banner-slider  .banner-icon .icon-out:hover {
    border: 4px solid #fff;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.banner-slider  .banner-icon .icon-out i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 68px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
}

.banner-slider .bx-wrapper {
    margin: 0;
    margin-top: 30px;
    text-align: center;
}

.banner-slider .bx-wrapper .bx-viewport {
    left: 0;
    background: rgba(0,0,0,0);
    box-shadow: none;
    border: 0px;
}

.banner-slider .bx-wrapper .bxslider1{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.banner-slider .bx-wrapper .bxslider1 li{
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.banner-slider .slider-btn {
    margin-top: 80px;
    text-align: center;
}

/* Hero */

.hero{
    padding-top: 100px;
    padding-bottom: 130px;
    text-align: center;
}

.hero{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay:0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.hero.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.hero h1{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Open Sans Condensed', Sans-Serif;
}

.hero img {
    width: 100%;
    max-width: 110px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero p{
    font-size: 14px;
    line-height: 25px;
}

/* feature */

.feature .feature-item{
    margin-top: 30px;
    padding: 20px 0;
    text-align: center;
}

.feature .feature-item{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.25s;
    -moz-animation-duration: 1.25s;
    -ms-animation-duration: 1.25s;
    -o-animation-duration: 1.25s;
    animation-duration: 1.25s;
}

.delay-one{
    -webkit-animation-delay: 0s;
    -moz-animation-delay:0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.delay-two{
    -webkit-animation-delay: 0.25s;
    -moz-animation-delay: 0.25s;
    -ms-animation-delay: 0.25s;
    -o-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

.delay-three{
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.delay-four{
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.feature .feature-item.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.feature .feature-item a{
    display: block;
    width: 100%;
    text-align: center;
}

.feature .feature-item a i{
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    border-radius: 150px;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -ms-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

.feature .feature-item:hover a i{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.feature .feature-item h4{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}

.feature .feature-item h4 a{
    color: #767676;
}

.feature .feature-item h4 a:hover{
    color: #454545;
}

.feature .feature-item p{
    font-size: 13px;
    line-height: 23px;
}

.feature .feature-nav{
    margin-top: 50px;
}

.feature .feature-nav .nav-tabs{
    border: 0px;
}

.feature .feature-nav .nav-tabs > li > a{
    margin-bottom: 6px;
    margin-right: 6px;
    padding: 15px 20px;
    background: #fdfdfd;
    border-radius: 10px;
}

.feature .feature-nav .nav-tabs > li > a i{
    font-size: 26px;
}

.feature .feature-nav .tab-content{
    margin-top: 5px;
    padding: 10px 15px;
    border: 1px solid #eaeaea;
    border-radius: 9px;
}

.feature .feature-nav .tab-content h5{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 25px;
}

.feature .feature-nav .tab-content h5 i{
    position: relative;
    top: -5px;
    display: inline-block;
    margin-right:3px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    border-radius: 40px;
}

.feature .feature-nav .tab-content p{
    font-size: 13px;
    line-height: 25px;
}
.feature .feature-nav img {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

/* Service */

.service .service-item{
    margin-top: 40px;
}

.service .service-item{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.25s;
    -moz-animation-duration: 1.25s;
    -ms-animation-duration: 1.25s;
    -o-animation-duration: 1.25s;
    animation-duration: 1.25s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay:0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.service .service-item.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-item a{
    color: #767676;
}

.service .service-item a i{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    font-size: 22px;
    border-radius: 60px;
    -webkit-transition: all 0.35s linear;
    -moz-transition: all 0.35s linear;
    -ms-transition: all 0.35s linear;
    -o-transition: all 0.35s linear;
    transition: all 0.35s linear;
}

.service .service-item:hover a i{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.service .service-item a span.service-title{
    display: inline-block;
    position: relative;
    top: -5px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 50px;
}

.service .service-item p{
    position: relative;
    top: -5px;
    margin-left: 65px;
}

.service .service-model{
    margin-top: 50px;
}

.service .service-model img{
    margin: 0px auto;
    border-radius: 12px;
}

.service .service-model h4{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 32px;
}

.service .service-model p{
    font-size: 13px;
    line-height: 23px;
}
.service .service-model img {
    max-width: 330px;
    margin: 0 auto;
}
.service .service-model ul{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.service .service-model ul li{
    font-size: 13px;
    line-height: 23px;
}

.service .service-model ul li i{
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
}

.service .service-model a.btn{
    margin-top: 5px;
    font-size: 13px;
}

/* Pricing */

.pricing .pricing-item{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.pricing .pricing-item{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.pricing .pricing-item.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.pricing .pricing-item:hover{
    box-shadow: 0px 1px 10px #ccc;
}

.pricing .pricing-item h4{
    margin: 0;
    padding: 25px 0px;
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.pricing .pricing-item span.pricing-rate{
    display: block;
    padding: 10px  0px;
    text-align: center;
    font-size: 60px;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px solid #ddd;
}

.pricing .pricing-item span.pricing-rate span{
    position: relative;
    top: -30px;
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.pricing .pricing-item .pricing-details{
    padding: 15px 40px;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
}

.pricing .pricing-item .pricing-details span{
    font-size: 15px;
    line-height: 30px;
}

.pricing .pricing-item .pricing-details span i{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.1);
}

.pricing .pricing-item .pricing-btn{
    padding: 20px 0;
    text-align: center;
}

.pricing .pricing-item .pricing-btn a.btn{
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 13px;
}

/* Testimonial */

.testimonial{
    padding-top: 120px;
    padding-bottom: 80px;
}
.testimonial .testimonial-content .testimonial-message{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.testimonial .testimonial-content .testimonial-message i{
    display: block;
    margin-bottom: 15px;
    font-size: 80px;
}

.testimonial .testimonial-content .testimonial-message p{
    color: #fff;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    font-style: italic;
}

.testimonial .testimonial-content .testimonial-message span.testimonial-user{
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.testimonial .bx-wrapper .bx-viewport{
    background: none;
    border: 0px;
    box-shadow: none;
}

/* CTA */

.cta{
    padding: 60px 0px;
}
.cta .cta-content{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.cta .cta-content.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.cta .cta-content h4{
    margin: 0px;
    margin-bottom: 8px;
    font-size: 40px;
    color: #fff;
    font-family: 'Open Sans condensed', sans-serif;
}

.cta .cta-content p{
    font-size: 14px;
    line-height: 24px;
    color: #fcfcfc;
}

.cta .cta-content .cta-btn{
    margin-top: 25px;
    text-align: center;
}

.cta .cta-content .cta-btn a.btn{
    font-size: 14px;
    padding: 15px 30px;
}

/* About Us */
.about .about-skill {margin-bottom: 40px;}
.about .about-skill h3 {font-size: 26px;}
.about .about-skill .skill-left p.quote {
    position: relative;
    margin-left: 55px;
    margin-top: 8px;
    padding-left: 15px;
    border-left: 5px solid #999;
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
}
.about .about-skill .skill-left p.quote:before {
    position: absolute;
    right: 100%;
    top: 10px;
    font-size: 40px;
    margin-right: 18px;
    font-family: FontAwesome;
    content: "\f10e";
    font-style: normal;
}

.about .about-skill .skill-right .skill-title {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 3px 6px;
    font-size: 12px;
    color: #fff;
    border-radius: 1px;
}

.about .about-skill .skill-right .skill-title:after {
    top: 100%;
    left: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(240, 253, 255, 0);
    border-width: 3px;
}
.about .about-skill .skill-right .progress {
    margin-bottom: 8px;
    height: 7px;
    border-radius: 1px;
}


.about .about-member{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.about .about-member,
.about .about-skill{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 0.9s;
    -moz-animation-duration: 0.9s;
    -ms-animation-duration: 0.9s;
    -o-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

.about .about-member.animation,
.about .about-skill.animation {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.about .about-member img{
    width: 100%;
    max-width: 200px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

.about .about-member .about-member-details{
    margin-top: 15px;
}

.about .about-member .about-member-details h4{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}

.about .about-member .about-member-details span{
    font-size: 12px;
    color: #898989;
}

.about .about-member .about-member-details p{
    margin-top: 10px;
    font-size: 13px;
    line-height: 23px;
    color: #9a9a9a;
}

.about .about-member .about-member-details .social{
    margin-top: 12px;
}

.about .about-member .about-member-details .social a{
    margin: 0px 2px;
    border-radius: 50%;
}

/* Process */

.process .process-content{
    position: relative;
    margin-top: 30px;
}

.process .process-content{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.process .process-content.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.process .process-content i{
    display: block;
    width: 160px;
    height: 160px;
    line-height: 160px;
    margin: 0px auto;
    text-align: center;
    font-size: 70px;
    color: #fff;
    border-radius: 200px;
    box-shadow: 0 2px 0 0 rgba(255,255,255,0.2) inset,0 2px 3px rgba(0,0,0,0.1);
}

.process .process-content h4{
    margin: 0px;
    margin-top: 15px;
    font-size: 30px;
    text-align: center;
}

.process .process-content span.process-arrow{
    position: absolute;
    right: -25px;
    top: 50%;
    margin-top: -25px;
}

.process .process-content span.process-arrow i{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0px auto;
    text-align: center;
    font-size: 30px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
}

/* Sponsor */
.sponsor {
    padding-top: 120px;
    padding-bottom: 130px;
}
.sponsor .default-header-2 { margin-top: 0px; margin-bottom: 30px; }
.sponsor .default-header-2 h3 { color: #fff;}
.sponsor .default-header-2 p {
    margin-top: 15px;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
}

.sponsor .sponsor-container {
    width: 100%;
    margin: 0 auto;
}

.sponsor .sponsor-container .item{
    position: relative;
    margin: auto 8px;
    text-align:center;
}

.sponsor .sponsor-container .item img{
    display: block;
    width: 100%;
    margin: 0 auto;
    height: auto;
    background: #fff;
}

.sponsor .item .sponsor-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.2);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.sponsor .item:hover .sponsor-hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.sponsor .item .sponsor-hover span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
    line-height: 85px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Contact */

.contact .contact-map{
    position: relative;
    background: #eaeaea;
    border-radius: 4px;
}

.contact .contact-map .gmap3{
    margin-top: 40px;
    height: 350px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
}

.contact .contact-map .address{
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px;
    padding-bottom: 9px;
    background: #fff;
    z-index: 10;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #545454;
}

.contact .contact-map .address i{
    position: relative;
    top: 3px;
    display: block;
    width: 20px;
    font-size: 15px;
    color: #878787;
    float: left;
}
.contact .contact-map .address p {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 24px;
}

.contact .contact-form{
    margin-top: 40px;
}

.contact .contact-form h4{
    margin: 0px;
    margin-bottom: 15px;
    padding-bottom: 6px;
    font-size: 24px;
    font-weight: 400;
    border-bottom: 1px solid #eaeaea;
}

/* Page Content */

.promo { padding: 130px 0; }
.promo h2{
    margin: 0px auto;
    font-size: 60px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.promo p{
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #fff;
}

.promo h4 {
    margin: 0;
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}

.promo hr {
    max-width: 200px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.promo .promo-inner{
    text-align: center;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.promo .promo-inner.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*
 * counter block
 */

.count {
    padding: 150px 0;
}
.count .count-item {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.count .count-item i,
.count .count-item h3,
.count .count-item .title { color: #fff; }
.count .count-item i { font-size: 40px; }
.count .count-item h3 {
    margin-bottom: 15px;
    font-size: 55px;
    font-weight: 400;
}
.count .count-item hr {
    max-width: 50px;
    margin: 0 auto;
    border-width: 2px;
}
.count .count-item .title {
    display: block;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/*
 * Blog
 */

.blog .entry {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}

.blog .entry.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.blog .entry h4 {margin-bottom: 20px;}
.blog .entry .entry-date {
    display: block;
    width: 80px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    float: left;
}

.blog .entry .entry-date span {
    display: block;
    margin-top: 7px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.blog .entry .meta {	margin-left: 105px;}
.blog .entry .meta .title a { color: #565656; }
.blog .entry .meta .title {
    margin-top: 0;
    font-size: 28px;
    font-weight: 400;
}

.blog .entry .meta .meta-info {
    font-size: 13px;
    line-height: 23px;
}

.blog .entry .entry-img {
    position: relative;
    margin-top: 25px;
    margin-bottom: 15px;
}

.blog .entry .entry-img .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: url('http://premium.indioweb.in/desino/theme/img/overlay-pattern.png') repeat;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.blog .entry .entry-img:hover .img-hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.blog .entry .entry-img .img-hover a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 7;
    width: 56px;
    height: 56px;
    margin-left: -28px;
    margin-top: -28px;
    font-size: 24px;
    text-align: center;
    line-height: 56px;
    background: #ededed;
    border-radius: 50%;
}

/* blog user comments */
.blog .entry .comments h5 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 16px;
}

.blog .entry .comment {
    margin-top: 20px;
    padding: 13px;
    padding-left: 15px;
    background: #f8f8f8;
    border-left: 3px solid #ccc;
}

.blog .entry .comment.reply {
    margin-left: 30px;
}

.blog .entry .comment .avatar {
    max-width: 60px;
    border-radius: 2px;
}

.blog .entry .comment .comment-author,
.blog .entry .comment .cmeta, .blog .entry .comments p { margin-left: 80px; }
.blog .entry .comment .comment-author {
    font-size: 16px;
    color: #676767;
}
.blog .entry .comment .cmeta {
    font-size: 12px;
    font-style: italic;
    color: #989898;
}
.blog .entry .comments p {
    font-size: 13px;
    line-height: 22px;
}

/* blog user comments response form */

.blog .entry .respond {
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: #f8f8f8;
    border-radius: 2px;
}
.blog .entry .respond h5 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
}
.blog .entry .respond form label {font-weight: 400;}

/*
 * Blog sidebar widget
 */

.blog .blog-sidebar .widget {
    margin-top: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.blog .blog-sidebar .widget h4 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 400;
    line-height: 38px;
    background: #f8f8f8;
}

.blog .blog-sidebar .widget h4 i {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.blog .blog-sidebar .widget hr {
    margin-bottom: 25px;
    border-style: dashed;
}
.blog .blog-sidebar .c-wrap img {
    max-width: 70px;
    border-radius: 2px;
    float: left;
}
.blog .blog-sidebar .c-wrap .user-comment {	margin-left: 90px;}
.blog .blog-sidebar .c-wrap .user-comment h5 a{color: #676767;}
.blog .blog-sidebar .c-wrap .user-comment h5 {
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
}
.blog .blog-sidebar .c-wrap .user-comment h6 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 16px;
    text-transform: capitalize;
}
.blog .blog-sidebar .c-wrap .user-comment p {
    font-size: 13px;
    line-height: 21px;
    font-style: italic;
}
.blog .blog-sidebar .widget ul li {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 23px;
}
.blog .blog-sidebar .widget ul li:last-child {margin-bottom: 0;}
.blog .blog-sidebar .widget ul li i {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    line-height: 23px;
    color: #9a9a9a;
}
.blog .blog-sidebar .social ul li{
    margin: 0;
    padding: 0;
}
.blog .blog-sidebar .social ul li a {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
    color: #fff;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.blog .blog-sidebar .social ul li:last-child a {margin-bottom: 0;}
.blog .blog-sidebar .social ul li i {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: rgba(0,0,0,0.25);
}

.facebook {	background: #3280e7; }
.facebook:hover { background: #134fa0; }

.twitter { background: #32c8de;}
.twitter:hover {	background: #188392;}

.google-plus {background: #f96f4a;}
.google-plus:hover {	background: #eb6440;}

.linkedin  {	background: #729fda;}
.linkedin:hover {background: #3069b6;}

.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}

/* Footer */

.footer{
    padding: 50px 0px;
    background: #fafafa;
    border-top: 1px solid #eaeaea;
    box-shadow: 0px 0px 5px #ccc;
}

.footer .footer-content{
    text-align: center;
}

.footer .footer-content h2{
    margin: 0px;
    font-size: 60px;
    font-weight: 700;
}

.footer .footer-content .social{
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer .footer-content .social a{
    margin: 0px 2px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    background: none;
    border-radius: 50%;
}

.footer .footer-content p{
    font-size: 14px;
    color: #9a9a9a;
}

/* Back to top */

.totop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 104400;
}

.totop a, .totop a:visited{
    display: block;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    border-radius: 45px;
}


/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px){
    .promo h2 {
        font-size: 50px;
        line-height: 70px;
    }

    .header-info .info-left span i{
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .pricing .pricing-item .pricing-details span{font-size: 14px;}
    .sponsor .item .sponsor-hover span {line-height: 145px;}

}

/* Tablets */
@media (max-width: 767px){
    body {padding-top: 65px;}
    .header-info {display: none !important;}

    /* style switcher */
    .style-switcher{display: none !important;}

    .navbar-default .navbar-nav > li > a{
        padding: 3px 15px;
        font-size: 11px;
    }

    .navbar-default .navbar-nav > li > a:hover { background: rgba(0,0,0,0.05);}
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus{
        border: 0px;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus{
        border: 0px;
    }

    .navbar-default .nav .open>a, .navbar-default .nav .open>a:hover, .navbar-default .nav .open>a:focus,
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav>.dropdown>a:focus{
        border: 0px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        padding-left: 15px;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #fff;
    }

    .navbar-default  .navbar-nav > .dropdown .dropdown-menu:after {
        border:0px;
    }

    .banner-slider  .banner-icon .icon-out {border-color: #fff;}

    .hero{
        max-width: 450px;
        margin: 0px auto;
    }

    .feature .feature-item{
        max-width: 350px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .feature .feature-nav {
        max-width: 450px;
        margin: 0 auto;
        margin-top: 50px;
    }

    .about .about-skill {
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .about .about-skill .skill-right {
        margin-top: 40px;
    }

    .service .service-item{
        max-width: 450px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .service .service-model{
        max-width: 450px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .service .service-model h4{
        margin-top: 40px;
    }
    .cta .cta-content,
    .promo .promo-inner{
        max-width: 450px;
        margin: 0px auto;
    }

    .process .process-content{
        margin-bottom: 35px;
    }

    .process .process-content i{
        margin-top: 45px;
    }

    .process .process-content span.process-arrow{
        top: 105%;
        margin-top: 0px;
        right: 50%;
        margin-right: -10px;
    }

    .process .process-content span.process-arrow i{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .contact .contact-form,
    .contact .contact-map{
        max-width: 450px;
        margin: 0px auto;
        margin-top: 30px;
    }

    .sponsor .sponsor-content{
        max-width: 450px;
        margin: 0 auto;
    }

    .blog .entry {
        max-width: 450px;
        margin: 0 auto;
        margin-top: 30px;
    }

    .blog .blog-sidebar .widget {
        max-width: 450px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

/* Desktop */
@media (max-width: 991px){
    .feature .feature-nav img{
        margin-top: 30px;
    }

    .cta .cta-content{
        text-align: center;
    }

    .count .count-item {
        margin-top: 40px;
    }
}
.header-info .social a {
    color: #e63131;
    border: 1px solid #e63131;
}

.footer .footer-content .social a {
    color: #e63131;
    border: 1px solid #e63131;
}
.footer .footer-content .social a {
    margin: 0px 2px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    background: none;
    border-radius: 50%;
}
.totop a {
    background: #c30f0f;
}

.slider-btn a {
    color: #ffffff;
}
.panel-footer a{
    color: #ffffff;
}
.skill-title{
    color: crimson !important;
}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-adn{color:#fff;background-color:#d87a68;border-color:rgba(0,0,0,0.2)}.btn-adn:hover,.btn-adn:focus,.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{color:#fff;background-color:#ce563f;border-color:rgba(0,0,0,0.2)}
.btn-adn:active,.btn-adn.active,.open>.dropdown-toggle.btn-adn{background-image:none}
.btn-adn.disabled,.btn-adn[disabled],fieldset[disabled] .btn-adn,.btn-adn.disabled:hover,.btn-adn[disabled]:hover,fieldset[disabled] .btn-adn:hover,.btn-adn.disabled:focus,.btn-adn[disabled]:focus,fieldset[disabled] .btn-adn:focus,.btn-adn.disabled:active,.btn-adn[disabled]:active,fieldset[disabled] .btn-adn:active,.btn-adn.disabled.active,.btn-adn[disabled].active,fieldset[disabled] .btn-adn.active{background-color:#d87a68;border-color:rgba(0,0,0,0.2)}
.btn-adn .badge{color:#d87a68;background-color:#fff}
.btn-bitbucket{color:#fff;background-color:#205081;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:hover,.btn-bitbucket:focus,.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket:active,.btn-bitbucket.active,.open>.dropdown-toggle.btn-bitbucket{background-image:none}
.btn-bitbucket.disabled,.btn-bitbucket[disabled],fieldset[disabled] .btn-bitbucket,.btn-bitbucket.disabled:hover,.btn-bitbucket[disabled]:hover,fieldset[disabled] .btn-bitbucket:hover,.btn-bitbucket.disabled:focus,.btn-bitbucket[disabled]:focus,fieldset[disabled] .btn-bitbucket:focus,.btn-bitbucket.disabled:active,.btn-bitbucket[disabled]:active,fieldset[disabled] .btn-bitbucket:active,.btn-bitbucket.disabled.active,.btn-bitbucket[disabled].active,fieldset[disabled] .btn-bitbucket.active{background-color:#205081;border-color:rgba(0,0,0,0.2)}
.btn-bitbucket .badge{color:#205081;background-color:#fff}
.btn-dropbox{color:#fff;background-color:#1087dd;border-color:rgba(0,0,0,0.2)}.btn-dropbox:hover,.btn-dropbox:focus,.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{color:#fff;background-color:#0d6aad;border-color:rgba(0,0,0,0.2)}
.btn-dropbox:active,.btn-dropbox.active,.open>.dropdown-toggle.btn-dropbox{background-image:none}
.btn-dropbox.disabled,.btn-dropbox[disabled],fieldset[disabled] .btn-dropbox,.btn-dropbox.disabled:hover,.btn-dropbox[disabled]:hover,fieldset[disabled] .btn-dropbox:hover,.btn-dropbox.disabled:focus,.btn-dropbox[disabled]:focus,fieldset[disabled] .btn-dropbox:focus,.btn-dropbox.disabled:active,.btn-dropbox[disabled]:active,fieldset[disabled] .btn-dropbox:active,.btn-dropbox.disabled.active,.btn-dropbox[disabled].active,fieldset[disabled] .btn-dropbox.active{background-color:#1087dd;border-color:rgba(0,0,0,0.2)}
.btn-dropbox .badge{color:#1087dd;background-color:#fff}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-flickr{color:#fff;background-color:#ff0084;border-color:rgba(0,0,0,0.2)}.btn-flickr:hover,.btn-flickr:focus,.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{color:#fff;background-color:#cc006a;border-color:rgba(0,0,0,0.2)}
.btn-flickr:active,.btn-flickr.active,.open>.dropdown-toggle.btn-flickr{background-image:none}
.btn-flickr.disabled,.btn-flickr[disabled],fieldset[disabled] .btn-flickr,.btn-flickr.disabled:hover,.btn-flickr[disabled]:hover,fieldset[disabled] .btn-flickr:hover,.btn-flickr.disabled:focus,.btn-flickr[disabled]:focus,fieldset[disabled] .btn-flickr:focus,.btn-flickr.disabled:active,.btn-flickr[disabled]:active,fieldset[disabled] .btn-flickr:active,.btn-flickr.disabled.active,.btn-flickr[disabled].active,fieldset[disabled] .btn-flickr.active{background-color:#ff0084;border-color:rgba(0,0,0,0.2)}
.btn-flickr .badge{color:#ff0084;background-color:#fff}
.btn-foursquare{color:#fff;background-color:#f94877;border-color:rgba(0,0,0,0.2)}.btn-foursquare:hover,.btn-foursquare:focus,.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{color:#fff;background-color:#f71752;border-color:rgba(0,0,0,0.2)}
.btn-foursquare:active,.btn-foursquare.active,.open>.dropdown-toggle.btn-foursquare{background-image:none}
.btn-foursquare.disabled,.btn-foursquare[disabled],fieldset[disabled] .btn-foursquare,.btn-foursquare.disabled:hover,.btn-foursquare[disabled]:hover,fieldset[disabled] .btn-foursquare:hover,.btn-foursquare.disabled:focus,.btn-foursquare[disabled]:focus,fieldset[disabled] .btn-foursquare:focus,.btn-foursquare.disabled:active,.btn-foursquare[disabled]:active,fieldset[disabled] .btn-foursquare:active,.btn-foursquare.disabled.active,.btn-foursquare[disabled].active,fieldset[disabled] .btn-foursquare.active{background-color:#f94877;border-color:rgba(0,0,0,0.2)}
.btn-foursquare .badge{color:#f94877;background-color:#fff}
.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{color:#fff;background-color:#2b2b2b;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open>.dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}
.btn-github .badge{color:#444;background-color:#fff}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{color:#fff;background-color:#c23321;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open>.dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-google-plus .badge{color:#dd4b39;background-color:#fff}
.btn-instagram{color:#fff;background-color:#3f729b;border-color:rgba(0,0,0,0.2)}.btn-instagram:hover,.btn-instagram:focus,.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{color:#fff;background-color:#305777;border-color:rgba(0,0,0,0.2)}
.btn-instagram:active,.btn-instagram.active,.open>.dropdown-toggle.btn-instagram{background-image:none}
.btn-instagram.disabled,.btn-instagram[disabled],fieldset[disabled] .btn-instagram,.btn-instagram.disabled:hover,.btn-instagram[disabled]:hover,fieldset[disabled] .btn-instagram:hover,.btn-instagram.disabled:focus,.btn-instagram[disabled]:focus,fieldset[disabled] .btn-instagram:focus,.btn-instagram.disabled:active,.btn-instagram[disabled]:active,fieldset[disabled] .btn-instagram:active,.btn-instagram.disabled.active,.btn-instagram[disabled].active,fieldset[disabled] .btn-instagram.active{background-color:#3f729b;border-color:rgba(0,0,0,0.2)}
.btn-instagram .badge{color:#3f729b;background-color:#fff}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{color:#fff;background-color:#005983;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open>.dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-linkedin .badge{color:#007bb6;background-color:#fff}
.btn-microsoft{color:#fff;background-color:#2672ec;border-color:rgba(0,0,0,0.2)}.btn-microsoft:hover,.btn-microsoft:focus,.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-microsoft:active,.btn-microsoft.active,.open>.dropdown-toggle.btn-microsoft{background-image:none}
.btn-microsoft.disabled,.btn-microsoft[disabled],fieldset[disabled] .btn-microsoft,.btn-microsoft.disabled:hover,.btn-microsoft[disabled]:hover,fieldset[disabled] .btn-microsoft:hover,.btn-microsoft.disabled:focus,.btn-microsoft[disabled]:focus,fieldset[disabled] .btn-microsoft:focus,.btn-microsoft.disabled:active,.btn-microsoft[disabled]:active,fieldset[disabled] .btn-microsoft:active,.btn-microsoft.disabled.active,.btn-microsoft[disabled].active,fieldset[disabled] .btn-microsoft.active{background-color:#2672ec;border-color:rgba(0,0,0,0.2)}
.btn-microsoft .badge{color:#2672ec;background-color:#fff}
.btn-openid{color:#fff;background-color:#f7931e;border-color:rgba(0,0,0,0.2)}.btn-openid:hover,.btn-openid:focus,.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{color:#fff;background-color:#da7908;border-color:rgba(0,0,0,0.2)}
.btn-openid:active,.btn-openid.active,.open>.dropdown-toggle.btn-openid{background-image:none}
.btn-openid.disabled,.btn-openid[disabled],fieldset[disabled] .btn-openid,.btn-openid.disabled:hover,.btn-openid[disabled]:hover,fieldset[disabled] .btn-openid:hover,.btn-openid.disabled:focus,.btn-openid[disabled]:focus,fieldset[disabled] .btn-openid:focus,.btn-openid.disabled:active,.btn-openid[disabled]:active,fieldset[disabled] .btn-openid:active,.btn-openid.disabled.active,.btn-openid[disabled].active,fieldset[disabled] .btn-openid.active{background-color:#f7931e;border-color:rgba(0,0,0,0.2)}
.btn-openid .badge{color:#f7931e;background-color:#fff}
.btn-pinterest{color:#fff;background-color:#cb2027;border-color:rgba(0,0,0,0.2)}.btn-pinterest:hover,.btn-pinterest:focus,.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{color:#fff;background-color:#9f191f;border-color:rgba(0,0,0,0.2)}
.btn-pinterest:active,.btn-pinterest.active,.open>.dropdown-toggle.btn-pinterest{background-image:none}
.btn-pinterest.disabled,.btn-pinterest[disabled],fieldset[disabled] .btn-pinterest,.btn-pinterest.disabled:hover,.btn-pinterest[disabled]:hover,fieldset[disabled] .btn-pinterest:hover,.btn-pinterest.disabled:focus,.btn-pinterest[disabled]:focus,fieldset[disabled] .btn-pinterest:focus,.btn-pinterest.disabled:active,.btn-pinterest[disabled]:active,fieldset[disabled] .btn-pinterest:active,.btn-pinterest.disabled.active,.btn-pinterest[disabled].active,fieldset[disabled] .btn-pinterest.active{background-color:#cb2027;border-color:rgba(0,0,0,0.2)}
.btn-pinterest .badge{color:#cb2027;background-color:#fff}
.btn-reddit{color:#000;background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}.btn-reddit:hover,.btn-reddit:focus,.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{color:#000;background-color:#bcddff;border-color:rgba(0,0,0,0.2)}
.btn-reddit:active,.btn-reddit.active,.open>.dropdown-toggle.btn-reddit{background-image:none}
.btn-reddit.disabled,.btn-reddit[disabled],fieldset[disabled] .btn-reddit,.btn-reddit.disabled:hover,.btn-reddit[disabled]:hover,fieldset[disabled] .btn-reddit:hover,.btn-reddit.disabled:focus,.btn-reddit[disabled]:focus,fieldset[disabled] .btn-reddit:focus,.btn-reddit.disabled:active,.btn-reddit[disabled]:active,fieldset[disabled] .btn-reddit:active,.btn-reddit.disabled.active,.btn-reddit[disabled].active,fieldset[disabled] .btn-reddit.active{background-color:#eff7ff;border-color:rgba(0,0,0,0.2)}
.btn-reddit .badge{color:#eff7ff;background-color:#000}
.btn-soundcloud{color:#fff;background-color:#f50;border-color:rgba(0,0,0,0.2)}.btn-soundcloud:hover,.btn-soundcloud:focus,.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{color:#fff;background-color:#c40;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud:active,.btn-soundcloud.active,.open>.dropdown-toggle.btn-soundcloud{background-image:none}
.btn-soundcloud.disabled,.btn-soundcloud[disabled],fieldset[disabled] .btn-soundcloud,.btn-soundcloud.disabled:hover,.btn-soundcloud[disabled]:hover,fieldset[disabled] .btn-soundcloud:hover,.btn-soundcloud.disabled:focus,.btn-soundcloud[disabled]:focus,fieldset[disabled] .btn-soundcloud:focus,.btn-soundcloud.disabled:active,.btn-soundcloud[disabled]:active,fieldset[disabled] .btn-soundcloud:active,.btn-soundcloud.disabled.active,.btn-soundcloud[disabled].active,fieldset[disabled] .btn-soundcloud.active{background-color:#f50;border-color:rgba(0,0,0,0.2)}
.btn-soundcloud .badge{color:#f50;background-color:#fff}
.btn-tumblr{color:#fff;background-color:#2c4762;border-color:rgba(0,0,0,0.2)}.btn-tumblr:hover,.btn-tumblr:focus,.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{color:#fff;background-color:#1c2d3f;border-color:rgba(0,0,0,0.2)}
.btn-tumblr:active,.btn-tumblr.active,.open>.dropdown-toggle.btn-tumblr{background-image:none}
.btn-tumblr.disabled,.btn-tumblr[disabled],fieldset[disabled] .btn-tumblr,.btn-tumblr.disabled:hover,.btn-tumblr[disabled]:hover,fieldset[disabled] .btn-tumblr:hover,.btn-tumblr.disabled:focus,.btn-tumblr[disabled]:focus,fieldset[disabled] .btn-tumblr:focus,.btn-tumblr.disabled:active,.btn-tumblr[disabled]:active,fieldset[disabled] .btn-tumblr:active,.btn-tumblr.disabled.active,.btn-tumblr[disabled].active,fieldset[disabled] .btn-tumblr.active{background-color:#2c4762;border-color:rgba(0,0,0,0.2)}
.btn-tumblr .badge{color:#2c4762;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}
.btn-vimeo{color:#fff;background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}.btn-vimeo:hover,.btn-vimeo:focus,.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{color:#fff;background-color:#1295bf;border-color:rgba(0,0,0,0.2)}
.btn-vimeo:active,.btn-vimeo.active,.open>.dropdown-toggle.btn-vimeo{background-image:none}
.btn-vimeo.disabled,.btn-vimeo[disabled],fieldset[disabled] .btn-vimeo,.btn-vimeo.disabled:hover,.btn-vimeo[disabled]:hover,fieldset[disabled] .btn-vimeo:hover,.btn-vimeo.disabled:focus,.btn-vimeo[disabled]:focus,fieldset[disabled] .btn-vimeo:focus,.btn-vimeo.disabled:active,.btn-vimeo[disabled]:active,fieldset[disabled] .btn-vimeo:active,.btn-vimeo.disabled.active,.btn-vimeo[disabled].active,fieldset[disabled] .btn-vimeo.active{background-color:#1ab7ea;border-color:rgba(0,0,0,0.2)}
.btn-vimeo .badge{color:#1ab7ea;background-color:#fff}
.btn-vk{color:#fff;background-color:#587ea3;border-color:rgba(0,0,0,0.2)}.btn-vk:hover,.btn-vk:focus,.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{color:#fff;background-color:#466482;border-color:rgba(0,0,0,0.2)}
.btn-vk:active,.btn-vk.active,.open>.dropdown-toggle.btn-vk{background-image:none}
.btn-vk.disabled,.btn-vk[disabled],fieldset[disabled] .btn-vk,.btn-vk.disabled:hover,.btn-vk[disabled]:hover,fieldset[disabled] .btn-vk:hover,.btn-vk.disabled:focus,.btn-vk[disabled]:focus,fieldset[disabled] .btn-vk:focus,.btn-vk.disabled:active,.btn-vk[disabled]:active,fieldset[disabled] .btn-vk:active,.btn-vk.disabled.active,.btn-vk[disabled].active,fieldset[disabled] .btn-vk.active{background-color:#587ea3;border-color:rgba(0,0,0,0.2)}
.btn-vk .badge{color:#587ea3;background-color:#fff}
.btn-yahoo{color:#fff;background-color:#720e9e;border-color:rgba(0,0,0,0.2)}.btn-yahoo:hover,.btn-yahoo:focus,.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{color:#fff;background-color:#500a6f;border-color:rgba(0,0,0,0.2)}
.btn-yahoo:active,.btn-yahoo.active,.open>.dropdown-toggle.btn-yahoo{background-image:none}
.btn-yahoo.disabled,.btn-yahoo[disabled],fieldset[disabled] .btn-yahoo,.btn-yahoo.disabled:hover,.btn-yahoo[disabled]:hover,fieldset[disabled] .btn-yahoo:hover,.btn-yahoo.disabled:focus,.btn-yahoo[disabled]:focus,fieldset[disabled] .btn-yahoo:focus,.btn-yahoo.disabled:active,.btn-yahoo[disabled]:active,fieldset[disabled] .btn-yahoo:active,.btn-yahoo.disabled.active,.btn-yahoo[disabled].active,fieldset[disabled] .btn-yahoo.active{background-color:#720e9e;border-color:rgba(0,0,0,0.2)}
.btn-yahoo .badge{color:#720e9e;background-color:#fff}