<!DOCTYPE html>

<html>
<head>
  <title>JakersRest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header'%>
<%= yield %>
<%=render 'home/footer'%>
</body>
</html>
